---
layout: page
tagline:
---

{% for project in site.projects %}

<article class="home">

  <span class="post-date">
    {% if project.date_end %}
      {{ project.date_start | date: "%B %Y" }} - {{ project.date_end | date: "%B %Y" }}
    {% else %}
      since {{ project.date_start | date: "%B %Y" }}
    {% endif %}
  </span>

  <h2>
    {% if project.url_local %}
      <a href="{{ site.BASE_PATH }}{{ project.url }}">{{ project.title }}</a>
    {% elsif project.url_external %}
      <a href="{{ project.url_external }}">{{ project.title }}</a>
    {% else %}
      {{ project.title }}
    {% endif %}
  </h2>  

  <div>
    {% if project.fullview %}
      {{ project.content }}
    {% else %}
      {% if project.shortinfo %}
        {{ project.shortinfo }}
      {% elsif project.description %}
        {{ project.description }}
      {% else %}
        {{ project.excerpt }}
      {% endif %}
    {% endif %}
  </div>

</article>

<hr/>

{% endfor %}