<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	{% if page.project %}	
		{% assign project = site.own | where: "slug", page.project | first %}
	{% else %}
		{% assign project = nil %}
	{% endif %}

	<title>{% if project %}{{ project.title }} - {% endif %}{% if page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}</title>
	{% if project %}	
		<meta name="description" content="{{ project.description }}">
	{% elsif page.description %}
		<meta name="description" content="{{ page.description }}">
	{% elsif site.description %}
		<meta name="description" content="{{ site.description }}">
	{% endif %}
	<meta name="author" content="{{ site.author.name }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% if project %}
		<meta property="og:title" content="{{ page.title }} - {{ project.title }}" />
	{% else %}
		<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}" />
	{% endif %}

	{% if page.description %}
		<meta property="og:description" content="{{ page.description }}">
	{% elsif project %}
		<meta property="og:description" content="application by {{ site.author.name }}">
	{% elsif site.description %}
		<meta property="og:description" content="{{ site.description }}">
	{% endif %}

	{% if page.image %}
		<meta property="og:image" content="{{ site.FULL_PATH }}{{ page.image }}">
	{% elsif project %}	
		<meta property="og:image" content="{{ site.FULL_PATH }}{{ project.image }}">
	{% else %}}
		<meta property="og:image" content="http://gravatar.com/avatar/{{site.author.email_md5}}?s=200">
		<meta property="og:image:width" content="200">
		<meta property="og:image:height" content="200">
	{% endif %}

	<link href="{{ site.BASE_PATH }}/assets/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/font-awesome/css/all.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/syntax/syntax.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/css/style.css" rel="stylesheet">
	
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.BASE_PATH }}/feed.xml">
</head>

<body>
	<nav class="navbar navbar-default visible-xs" role="navigation">
		<div class="navbar-header">
			{% if site.author.email %}
			<a type="button" class="navbar-toggle nav-link" href="mailto:{{ site.author.email }}">
				<i class="fas fa-envelope"></i>
			</a>
			{% endif %}	
			{% comment %}		
				{% if site.author.linkedin %}
				<a type="button" class="navbar-toggle nav-link" href="https://linkedin.com/in/{{ site.author.linkedin }}" target="_blank">
					<i class="fab fa-linkedin"></i>
				</a>
				{% endif %}
				{% if site.author.skype %}
				<a type="button" class="navbar-toggle nav-link" href="skype:{{ site.author.skype }}?chat">
					<i class="fab fa-skype"></i>
				</a>
				{% endif %}
			{% endcomment %}
			{% if site.author.github %}
			<a type="button" class="navbar-toggle nav-link" href="http://github.com/{{ site.author.github }}" target="_blank">
				<i class="fab fa-github"></i>
			</a>
			{% endif %}
			{% if site.author.playconsole %}
			<a type="button" class="navbar-toggle nav-link" href="https://play.google.com/store/apps/dev?id={{ site.author.playconsole }}">
				<i class="fab fa-google-play"></i>
			</a>
			{% endif %}	
			<a class="navbar-brand" href="{{ site.BASE_PATH }}/">
				<img src="//www.gravatar.com/avatar/{{site.author.email_md5}}?s=35" class="img-circle" />
				{{ site.title }}
			</a>
		</div>
	</nav>

	<div class="col-sm-3 sidebar hidden-xs">
		{% include sidebar.html %}
	</div>

	<div class="col-sm-9 col-sm-offset-3">
		{{ content }}
	</div>

	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/app.js"></script>
</body>
</html>
