<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}</title>
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% endif %}
	<meta name="author" content="{{ site.author.name }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% comment %}
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->	
	{% endcomment %}

	<link href="{{ site.BASE_PATH }}/assets/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/syntax/syntax.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/css/style.css" rel="stylesheet">

	{% comment %}
	<!-- Le fav and touch icons -->
	<!-- Update these with your own images
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	-->
	{% endcomment %}

	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.BASE_PATH }}/feed.xml">
</head>

<body>
	<nav class="navbar navbar-default visible-xs" role="navigation">
		<div class="navbar-header">
			{% if site.author.email %}
			<a type="button" class="navbar-toggle nav-link" href="mailto:{{ site.author.email }}">
				<i class="fa fa-envelope"></i>
			</a>
			{% endif %}	
			{% comment %}		
				{% if site.author.linkedin %}
				<a type="button" class="navbar-toggle nav-link" href="https://linkedin.com/in/{{ site.author.linkedin }}" target="_blank">
					<i class="fa fa-linkedin"></i>
				</a>
				{% endif %}
				{% if site.author.skype %}
				<a type="button" class="navbar-toggle nav-link" href="skype:{{ site.author.skype }}?chat">
					<i class="fa fa-skype"></i>
				</a>
				{% endif %}
			{% endcomment %}
			{% if site.author.github %}
			<a type="button" class="navbar-toggle nav-link" href="http://github.com/{{ site.author.github }}" target="_blank">
				<i class="fa fa-github"></i>
			</a>
			{% endif %}
			{% if site.author.playconsole %}
			<a type="button" class="navbar-toggle nav-link" href="https://play.google.com/store/apps/dev?id={{ site.author.playconsole }}">
				<i class="fa fa-play"></i>
			</a>
			{% endif %}	
			<a class="navbar-brand" href="{{ site.BASE_PATH }}/">
				<img src="//www.gravatar.com/avatar/{{site.author.email_md5}}?s=35" class="img-circle" />
				{{ site.title }}
			</a>
		</div>
	</nav>

	<div class="col-sm-3 sidebar hidden-xs">
		{% include sidebar.html %}
	</div>

	<div class="col-sm-9 col-sm-offset-3">
		{{ content }}
	</div>

	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/app.js"></script>
</body>
</html>
